* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #eee;
    font-family: "Roboto", sans-serif;
  }
  .section-center {
    width: 90vw;
    margin: 0 auto;
    padding: 2rem;
    max-width: 35rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
  }
  .section-center:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  .alert {
    margin-bottom: 1rem;
    height: 1.25rem;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    text-transform: capitalize;
  }
  .alert-danger {
    color: #721c24;
    background: #f8d7da;
  }
  .alert-success {
    color: #155724;
    background: #d4edda;
  }
  .grocery-form h3 {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.75rem;
    text-transform: capitalize;
    color: #333;
  }
  .form-control {
    display: flex;
    justify-content: center;
  }



 